.header
  .top_choicer
    a.active(href='#') 
      span За рулем
    a(href='#')
      span Песочница
  .header_container
    .left_side
      .user_info
        img.user_info_image(src='./img/account.png')
        a.user_info_link(href='#')
          span Константин
        .notify_counter
          a(href='#')
            span 3
    .right_side
      img(src='./img/logo.png')
  .header_navigation
    .left_side
      .map_link
        .map_image
        a(href='#')  
          span Весь сайт
    .right_side
      .search
        .search-inner
          form
            input.search-input(type='search'
            placeholder='Поиск по сайту')
            button.search_button(type='submit' title='Поиск')
              .search_icon

    .center_side
      .header_links
        .header_links_link
          a(href='#')
            span Моя лента
        .header_links_link
          a(href='#')
            span Новости
        .header_links_link
          a(href='#')
            span Статьи
        .header_links_link
          a(href='#')
            span Тесты
        .header_links_link
          a(href='#')
            span Марки и модели
        .header_links_link
          a(href='#')
            span Фото и видео
 
