.header
  .top_choicer
    a.active(href='#') 
      span За рулем
    a(href='#')
      span Песочница
  .header_container
    .left_side
      .user_info
        img.user_info_image(src='./img/account.png')
        a.user_info_link(href='#')
          span Константин
            .notify_counter
              span 3
    .right_side
      img(src='./img/logo.png')
