DOCTYPE(html)
html
  head(lang='ru')
    meta(charset='UTF-8')
    title ZR Prono
    link(rel='stylesheet' href='./main.css')
    script(type='text/javascript' src='./app.js')

  body
    #container
      #header
        
